[submodule "vendor/src/github.com/gorilla/mux"]
	path = vendor/src/github.com/gorilla/mux
	url = git://github.com/gorilla/mux.git
[submodule "vendor/src/github.com/gorilla/context"]
	path = vendor/src/github.com/gorilla/context
	url = git://github.com/gorilla/context.git
[submodule "vendor/src/ooyala/go-ooyala-headers"]
	path = vendor/src/ooyala/go-ooyala-headers
	url = https://scm@git.corp.ooyala.com/scm/common-go/go-ooyala-headers.git
[submodule "vendor/src/ooyala/go-ooyalalog"]
	path = vendor/src/ooyala/go-ooyalalog
	url = https://scm@git.corp.ooyala.com/scm/common-go/go-ooyalalog.git 
[submodule "vendor/src/ooyala/go-ooyaladb"]
	path = vendor/src/ooyala/go-ooyaladb
	url = https://scm@git.corp.ooyala.com/scm/common-go/go-ooyaladb.git
[submodule "vendor/src/github.com/ziutek/mymysql"]
	path = vendor/src/github.com/ziutek/mymysql
	url = git://github.com/ziutek/mymysql
[submodule "vendor/src/golang.org/x/net"]
	path = vendor/src/golang.org/x/net
	url = https://github.com/golang/net/
[submodule "vendor/src/golang.org/x/oauth2"]
	path = vendor/src/golang.org/x/oauth2
	url = https://github.com/golang/oauth2
[submodule "vendor/src/google.golang.org/api"]
	path = vendor/src/google.golang.org/api
	url = https://github.com/google/google-api-go-client
[submodule "vendor/src/google.golang.org/cloud"]
	path = vendor/src/google.golang.org/cloud
	url = https://github.com/GoogleCloudPlatform/gcloud-golang
