

#edit-squish-button {
  position: absolute;
  left: -10px;
  width: 10px;
  z-index: 1;
  background-color:red;
  padding: 10px 0px 10px 0px;
  text-align:center;
  overflow:hidden;
  -webkit-transition: width 300ms ease-out, left 300ms ease-out;
  -moz-transition: width 300ms ease-out, left 300ms ease-out;
  -o-transition: width 300ms ease-out, left 300ms ease-out;
  -ms-transition: width 300ms ease-out, left 300ms ease-out;
  transition: width 300ms ease-out, left 300ms ease-out;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px
}

#edit-squish-button:hover {
  left:-40px;
  width:40px;
}
.rightBar {
  width:240px;
  margin-left:4px;
}

#edit-bar {
  margin-right: 0px;
  background-color:#FAFAFA;
  overflow:hidden;
  -webkit-transition: width 400ms ease-in;
  -moz-transition: width 400ms ease-in;
  -o-transition: width 400ms ease-in;
  -ms-transition: width 400ms ease-in;
  transition: width 400ms ease-in;
}

#gplus-container {
    font-family: Roboto,arial,sans-serif;
    min-width:220px;
    margin-bottom:20px;
    background-color:#bb2b29;
    padding:10px;
}

#signin {

}

#user-info {
  color: white;
  text-align: center;
}

#signout {
  text-align: center;
  padding: 10px;
  background-color: #dd4b39;
  margin: 0px 0 10px 0px;
  color: white;
  font-weight: 700;
  height:25px;
}

#updateUsers {
  text-align: center;
  padding: 10px;
  background-color: #dd4b39;
  margin: 0px 0 10px 0px;
  color: white;
  font-weight: 700;
}

#edit-seats input {
    width:30px;
}
.inputLabel {
    text-align:right;
}
.formRow > td{
    /*border-bottom: 1px solid black;*/
}