#edit-squish {
  box-shadow: -6px 0px 2px -4px rgba(0,0,0,.60);
  z-index: 10;
}


#edit-squish-button {
  position: absolute;
  left: -10px;
  width: 10px;
  top:20px;
  z-index: 1;
  background-color:#FF9933;
  color:white;
  font-weight:700;
  padding: 10px 0px 10px 0px;
  text-align:center;
  overflow:hidden;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  -webkit-transition: width 300ms ease-out, left 300ms ease-out;
  -moz-transition: width 300ms ease-out, left 300ms ease-out;
  -o-transition: width 300ms ease-out, left 300ms ease-out;
  -ms-transition: width 300ms ease-out, left 300ms ease-out;
  transition: width 300ms ease-out, left 300ms ease-out;
}

#edit-squish-button:hover {
  left:-40px;
  width:40px;
}
.rightBar {
  width:250px;
}

#edit-bar {
  margin-right: 0px;
  background-color:#FAFAFA;
  overflow:hidden;
  -webkit-transition: width 400ms ease-in;
  -moz-transition: width 400ms ease-in;
  -o-transition: width 400ms ease-in;
  -ms-transition: width 400ms ease-in;
  transition: width 400ms ease-in;
}

.editBarTitle {
  text-align:center;
  font-size:30px;
  background-color:#2e335a;
  color:white;
  padding: 10px 0px;
  position:relative;
}
#edit-seats input {
    width:30px;
}
#edit-form {
  min-height:100px;
  padding:10px;
  margin:5px;
  border: 1px black solid;
  background-color:#CCD6DB;
}

.subEditForm {
  
  border: 1px black solid;
}

.editDeskTitle {
  text-align: center;
  font-size:20px;
  background-color:#2e335a;
  color:white;
  padding: 10px 0px;
}

.editPosInput {
  width:50px;
}
.inputLabel {
  text-align:right;
}
.formRow > td{
  /*border-bottom: 1px solid black;*/
}