
#gplus-container {
    font-family: Roboto,arial,sans-serif;
    min-width:220px;
    margin-bottom:20px;
    background-color:#2e335a;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#signin {

}

#user-info {
  color: white;
  text-align: center;
}

#signout {
  text-align: center;
  padding: 10px;
  background-color: #dd4b39;
  margin: 0px 0 10px 0px;
  color: white;
  font-weight: 700;
}

#updateUsers {
  text-align: center;
  padding: 10px;
  background-color: #dd4b39;
  margin: 0px 0 10px 0px;
  color: white;
  font-weight: 700;
}
