#logo {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 60px;
  padding-bottom:9px;
}

#logo #logo-img {
  height:100px;
}

#vertical-flexbox {
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  height: 100%;
}

#flexbox {
  display: -webkit-flex;
  display: flex;
  flex: 1 0 500px;
  min-height: 1px;
}

.squishWrapper {
  position:relative;
  display:flex;
}

#header {
  box-shadow: 0px 2px 5px rgba(0,0,0,.60);
  z-index: 10;
  min-width:1000px;
}

body {
  margin:0px;
  background-color:#CCD6DB;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}