#logo {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 60px;
}

#flexbox {
  display:flex;
}

.flexElement {
  margin:10px;
}

#list-bar{
  flex: 1;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}