#list-bar {
  max-width: 400px;
  word-wrap: break-word;
}

.roomListElement:hover,
.userListElement:hover,
.placeListElement:hover {
  background-color:#DDD;
}

.roomListElement,
.userListElement,
.placeListElement {
  padding:10px;
}


#list-bar .active { 
  background-color:#889;
}