#list-bar {
  max-width: 400px;
  word-wrap: break-word;
  margin-left: 0px;
}

.roomListElement,
.userListElement,
.placeListElement {
  padding:10px;
  -webkit-transition: background-color 400ms ease-out;
  -moz-transition: background-color 400ms ease-out;
  -o-transition: background-color 400ms ease-out;
  -ms-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
}


.roomListElement:nth-child(even),
.userListElement:nth-child(even),
.placeListElement:nth-child(even) {
  background-color:#FAFAFA;
}

.roomListElement:nth-child(odd),
.userListElement:nth-child(odd),
.placeListElement:nth-child(odd) {
  background-color:#EEE;
}

.roomListElement:hover,
.userListElement:hover,
.placeListElement:hover {
  background-color:#DDD;
}

.userListElement {
  display:flex;
}

.userListInfo {
  margin: auto 10px;
}
.roomName,
.userName,
.placeName {
    font-size:24px;
}

#list-bar .active {
  background-color:#889;
}

#featureListSeats input{
  width:30px;
}

.listBarTitle {
  text-align:center;
  font-size:30px;
  background-color:#CCF;
  padding: 10px 0px;
}
.listBarSection {
  margin:10px 0px 5px 0px;
}
.listBarSection:first-child{
  margin:0px 0px 5px 0px;
}

.featureListSpacer {
  width:40px;
}
.featureListLabel {
  text-align:right;
}

.featureListTable {
  margin: auto;
}