#list-bar {
  max-width: 400px;
  word-wrap: break-word;
  margin-left: 0px;
  display: flex;
  flex-flow: column;
}

/* Search bar styles in search-bar.css */

#scrollable-list {
  overflow-y:scroll;
}

.listBarSection {
  margin:10px 0px 5px 0px;
  overflow:hidden;
}

.listBarSection:first-child{
  margin:0px 0px 5px 0px;
}

.listBarTitle {
  text-align:center;
  font-size:30px;
  background-color:#CCF;
  padding: 10px 0px;
  position:relative;
}

.hiddenList {
    max-height:0px
}

.listElement {
  padding:10px;
  -webkit-transition: background-color 400ms ease-out;
  -moz-transition: background-color 400ms ease-out;
  -o-transition: background-color 400ms ease-out;
  -ms-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
}

.listElement:nth-child(even) {
  background-color:#FAFAFA;
}

.listElement:nth-child(odd) {
  background-color:#EEE;
}

.listElement:hover {
  background-color:#DDD;
}

.listElement.active {
  background-color:#889;
}

.userListElement {
  display:flex;
}

.userListInfo {
  margin: auto 10px;
}

.roomName,
.userName,
.placeName {
    font-size:24px;
}

.listHideButton {
  opacity: 0;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 20px;
  -webkit-transition: opacity 400ms ease-out;
  -moz-transition: opacity 400ms ease-out;
  -o-transition: opacity 400ms ease-out;
  -ms-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.visible {
    opacity: 1;
}

/* Styles for the feature lists of rooms*/
.featureListSpacer {
  width:40px;
}
.featureListLabel {
  text-align:right;
}

.featureListTable {
  margin: auto;
}

#featureListSeats input{
  width:30px;
}
