

#loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #BBB;
  z-index: 100;
  text-align:center;
  display:flex;
  flex-flow:column;
  -webkit-transition: opacity 600ms linear;
  -moz-transition: opacity 600ms linear;
  -o-transition: opacity 600ms linear;
  -ms-transition: opacity 600ms linear;
  transition: opacity 600ms linear;
}

.loadingFlex{
  flex:1;
}
