.clickable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.mapDesk {
  position: absolute !important;
  background-color: coral;
  min-height: 10px;
  min-width: 10px;
  border-radius: 4px;
}

.mapDeskFull{
  background-color:#B25938;
}

.mapDeskAddButton {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 40px;
  background-color: palegreen;
  color: black;
  height: 20px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 18px;
}

.mapDeskGroup {
  position: absolute !important;
  background-color: rgba(147,112,219,0.5);
  border-radius: 6px;
  min-height: 40px;
  min-width: 30px;
}

.mapPlace {
  position: absolute !important;
  background-color: darkseagreen;
  border-radius: 10px;
  min-height: 20px;
  min-width: 20px;
}

.mapRoom {
  position: absolute !important;
  background-color: darksalmon;
  overflow: hidden;
  border-radius: 10px;
}

.mapRoomName, .mapPlaceName {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  font-size: 12px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.mapDeskName {
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  font-size: 10px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  pointer-events: none;
}
.mapSection {
  position: absolute !important;
  background-color: aquamarine;
  text-align: center;
  border-radius: 10px;
}

.mapSectionAddButton {
  position: absolute;
  top: 45px;
  right: 10px;
  border-radius: 40px;
  background-color: palegreen;
  color: black;
  height: 30px;
  width: 30px;
  font-size: 30px;
  text-align: center;
  line-height: 25px;
}

.mapSectionAddDialog {
  position: absolute;
  width: 100px;
  top: 80px;
  right: 10px;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 5px;
}

.mapSectionAddDialog div {
  padding: 2px;
  border-radius: 5px;
}

.mapSectionAddDialog div:hover {
  background-color: #dedede;
}

.mapSectionName {
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px 10px 0 0;
  padding: 10px 10px;
  color: white;
  text-align: right;
}

.mapSelectedItem {
  background-color: #a3e8ff !important;
}

.mapAnimateSelectedItem {
  animation-duration: 1s;
  animation-name: shake;
  animation-iteration-count: 1;
}

.shadowed {
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.40);
  border-left: 1px solid rgba(0,0,0,0.1);
}

.ui-icon-gripsmall-diagonal-se {
  z-index: inherit !important;
}
#map-wrapper {
  flex: 1 0 450px;
  -webkit-flex: 1 0 450px;
  overflow: scroll;
}
#map {
  background-color: rgba(0,0,0,0.8);
  position: relative;
  font-family: sans-serif;
  overflow:visible;
}

#map_name {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 15px;
  background-color: pink;
  padding: 8px;
}

#new_section_button {
  position: absolute;
  top: 20px;
  border-radius: 40px;
  background-color: palegreen;
  color: black;
  height: 40px;
  width: 40px;
  font-size: 40px;
  text-align: center;
  line-height: 35px;
}

@keyframes highlight {
  0% {
    transform: scale(1,1);
  }
  25% {
    transform: scale(1.2,1.2);
  }
  50% {
    transform: scale(1,1);
  }
  75% {
    transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.05,1.05);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(20deg);
  }
  32% {
    transform: rotate(-20deg);
  }
  48% {
    transform: rotate(10deg);
  }
  64% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
