.mapListElement {
  display: inline-block;
  padding: 10px;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  -webkit-transition: background-color 400ms ease-out;
  -moz-transition: background-color 400ms ease-out;
  -o-transition: background-color 400ms ease-out;
  -ms-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
  background: rgba(140,140,140,.4);
}
.mapListElement:hover {
  background-color:#DDD;
}

#navigation-bar {
  border-bottom: 10px solid #889;
  margin-bottom:0px;
  background: #79797C url('/images/gray-top-to-transparent.png') repeat-x top right;
}
.mapListElement.active {
  background:#889;
}