#search-bar {
  display: -webkit-flex;
  display: flex;
  box-shadow: 0px 2px 5px rgba(0,0,0,.60);
  z-index: 1;
  border-bottom-right-radius: .5em;
}

#search-input {
  flex: 1;
  -webkit-flex: 1;
  font-size: 20px;
  border-right: 0px;
}

#search-clear {
    font-size: 20px;
    margin: auto;
    padding: 5px 10px;
    background-color: #82859C;
    border-bottom-right-radius: .4em;
    border-top-right-radius: .1em;
    color: white;
}